---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-merge-conflict
      - id: trailing-whitespace
        exclude: ^spec/output\.cc$
      - id: mixed-line-ending
      - id: end-of-file-fixer
      - id: detect-private-key
      - id: check-symlinks
      - id: check-ast
      - id: debug-statements
      - id: requirements-txt-fixer
      - id: check-xml
      - id: check-yaml
      - id: check-toml
      - id: check-json
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-crlf
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint
        args:
          - --msg-filename
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 3.6.0
    hooks:
      - id: editorconfig-checker
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: check-mailmap
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-pyproject
          - mdformat-gfm
          - mdformat-myst
          - mdformat-toc
          - mdformat-deflist
          - mdformat-beautysh
          - mdformat-ruff
          - mdformat-config
          - mdformat-web
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        additional_dependencies:
          - markdown-it-texmath
  - repo: https://github.com/lunarmodules/luacheck
    rev: v1.2.0
    hooks:
      - id: luacheck
  # keep code copied from cppinsights unchanged
  # - repo: https://github.com/pre-commit/mirrors-clang-format
  #   rev: v18.1.8
  #   hooks:
  #     - id: clang-format
  # - repo: https://github.com/cmake-lint/cmake-lint
  #   rev: 1.4.3
  #   hooks:
  #     - id: cmakelint
  # - repo: https://github.com/Decodetalkers/neocmakelsp
  #   rev: v0.8.2
  #   hooks:
  #     - id: neocmakelsp-format
  - repo: https://github.com/NixOS/nixfmt
    rev: v1.1.0
    hooks:
      - id: nixfmt
